*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: antiquewhite;
}

.chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 750px;
    background-image: url(https://i.pinimg.com/736x/6c/5a/e8/6c5ae8c7e3637d509724267a0bc90541.jpg);
    margin: auto;

    

}